*{
  margin: 0;
  padding: 0;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.bg-light{
  padding: 9px 0;
  background: #000000!important;
}

.logo{
  margin-right: 30px;
}

.navbar-light .navbar-toggler-icon{
  margin-bottom: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  display: block;
  background-image: none;
}


.nav-link{
  font-size: 15px;
  line-height: 18px;
  color: white !important;
}

.nav-link:hover{
  color: #0B9344!important;
  transition: 0.3s;
}
.blog{
  color: orange!important;
}

.contact_header a:nth-last-child(1){
  color: white;
  text-decoration: none;
  border: 1px solid #0B9344;
  padding: 4px 15px;
  border-radius: 10px;
  margin-left: 30px;

}

.contact_header a:nth-last-child(1):hover{
  background-color: #0B9344;
  transition: 0.3s;
}

.screen_one{
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 51px 0 71px;
  @include max-screen(991px){
    padding: 60px 0 30px;
  }

 h1{
   color: white;
   font-size: 25px;
   line-height: 30px;
   margin-bottom: 40px;
   text-align: center;
 }
  .card_{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
    @include max-screen(992px){
      height: 542px;
    }
    @include max-screen(767px){
      height: 535px;
    }
    @include max-screen(514px){
      height: 454px;
    }
    @include max-screen(414px){
      height: 420px;
    }

    .user_image{
      img{
        position: relative;
        left: 2px;
       max-width: 200px;
        width: 100%;
        border-radius: 50%;
      }
    }
    h3{
      font-size: 20px;
      color: white;
      @include max-screen(514px){
        font-size: 12px;
      }
    }
    h4{
      color: white;
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 10px;
      @include max-screen(514px){
        font-size: 10px;
      }
    }
    p{
      font-size: 10px;
      color: white;
      margin-bottom: 24px;
      @include max-screen(514px){
        font-size: 8px;
      }
    }
    .price{
      background: rgba(196, 196, 196, 0.2);
      border-radius: 10px;
      padding: 12px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 76px;
      width: 64%;
      @include max-screen(1200px){
        position: relative;
        bottom: 34px;
      }
      @include max-screen(991px){
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
      }
      @include max-screen(320px){
        padding: 10px 20px!important;
      }

      p{
        font-size: 30px;
        color: white;
        margin-bottom: 0;
        display: inline-block;
        span{
          font-size: 15px;
        }
      }
      a{
        color: white;
        background-color: #0B9344;
        padding: 10px 43px;
        display: inline-block;
        border-radius: 10px;
      }
    }
    .price:hover{
      padding: 20px;
      transition: 0.3s;
    }
  }
  li{
    margin-left: 50px;
    color: white;
    font-size: 15px;
    padding: 0 13px 0 28px;
    @include max-screen(514px){
      font-size: 10px;
    }
  }
  ul{
    padding: 0 13px 0 28px;
    position: relative;
    @include max-screen(991px){
      position: absolute;
     bottom: 70px;
    }
    @include max-screen(514px){
      position: absolute;
      bottom: 88px;
    }
  }
}

.screen_one li:nth-child(n+3):nth-child(-n+6) {
  list-style: none;
}

.screen_one li{
  padding: 0;
}