*{
  margin: 0;
  padding: 0;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.bg-light{
  padding: 9px 0;
  background: #000000!important;
}

.logo{
  margin-right: 30px;
}

.navbar-light .navbar-toggler-icon{
  margin-bottom: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  display: block;
  background-image: none;
}


.nav-link{
  font-size: 15px;
  line-height: 18px;
  color: white !important;
}

.nav-link:hover{
  color: #0B9344!important;
  transition: 0.3s;
}
.blog{
  color: orange!important;
}

.contact_header a:nth-last-child(1){
  color: white;
  text-decoration: none;
  border: 1px solid #0B9344;
  padding: 4px 15px;
  border-radius: 10px;
  margin-left: 30px;

}

.contact_header a:nth-last-child(1):hover{
  background-color: #0B9344;
  transition: 0.3s;
}

.screen_one{
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 51px 0 71px;
  @include max-screen(991px){
    padding: 60px 0 30px;
  }

 h1{
   color: white;
   font-size: 25px;
   line-height: 30px;
   margin-bottom: 40px;
   text-align: center;
   @include max-screen(514){
     margin-bottom: 30px;
   }
 }
  .card_{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
    height: 260px;
    @include max-screen(992px){
      height: 542px;
    }
    @include max-screen(767px){
      height: 535px;
    }
    @include max-screen(514px){
      height: 454px;
    }
    @include max-screen(414px){
      height: 420px;
    }

    .user_image{
      img{
        position: relative;
        left: 2px;
       max-width: 200px;
        width: 100%;
        border-radius: 50%;
      }
    }
    h3{
      font-size: 20px;
      color: white;
      @include max-screen(514px){
        font-size: 12px;
      }
    }
    h4{
      color: white;
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 10px;
      @include max-screen(514px){
        font-size: 10px;
      }
    }
    p{
      font-size: 10px;
      color: white;
      margin-bottom: 24px;
      @include max-screen(514px){
        font-size: 8px;
      }
    }
    .price{
      background: rgba(196, 196, 196, 0.2);
      border-radius: 10px;
      padding: 12px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 76px;
      @include max-screen(1200px){
        position: relative;
        bottom: 34px;
      }
      @include max-screen(991px){
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
      }
      @include max-screen(320px){
        padding: 10px 20px!important;
      }

      p{
        font-size: 30px;
        color: white;
        font-weight: bold;
        margin-bottom: 0;
        display: inline-block;
        span{
          font-size: 15px;
          font-weight: normal;
        }
      }
      a{
        color: white;
        background-color: #0B9344;
        padding: 10px 43px;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
      }
    }
    .price:hover{
      padding: 20px;
      transition: 0.3s;
    }
  }
  li{
    margin-left: 50px;
    color: white;
    font-size: 15px;
    padding: 0 13px 0 28px;
    @include max-screen(514px){
      font-size: 10px;
    }
  }
  ul{
    padding: 0 13px 0 28px;
    position: relative;
    @include max-screen(991px){
      position: absolute;
     bottom: 70px;
    }
    @include max-screen(514px){
      position: absolute;
      bottom: 88px;
    }
  }
}

.screen_one li:nth-child(n+3):nth-child(-n+6) {
  list-style: none;
}

.screen_one li{
  padding: 0;
}

.screen_two{
  background-image: url("../img/back_screen_two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 51px 0 71px;
  @include max-screen(991px){
    padding: 60px 0 30px;
  }
  h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    @include max-screen(514px){
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
  li{
    margin-left: 50px;
    color: black;
    font-size: 15px;
    padding: 0 13px 0 28px;
    font-weight: bold;
    span{
      font-weight: normal;
    }
    @include max-screen(514px){
      font-size: 10px;
    }
  }
  ul{
    padding: 0 13px 0 28px;
    position: relative;
    @include max-screen(991px){
      position: absolute;
      bottom: -490px;
      z-index: 2;
    }
    @include max-screen(767px){
      position: absolute;
      bottom: -526px;
    }
    @include max-screen(514px){
      position: absolute;
      bottom: -379px;
    }
    @include max-screen(375px){
      position: absolute;
      bottom: -392px;
    }
    @include max-screen(320px){
      position: absolute;
      bottom: -447px;
    }
  }
  .card_scr_two{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
    height: 260px;
    @include max-screen(992px){
      height: 562px;
    }
    @include max-screen(767px){
      height: 600px;
    }
    @include max-screen(514px){
      height: 454px;
    }
    @include max-screen(414px){
      height: 452px;
    }
    @include max-screen(375px){
      height: 465px;
    }
    @include max-screen(320px){
      height: 516px;
    }

    .user_image{
      img{
        position: relative;
        left: 2px;
        max-width: 200px;
        width: 100%;
        border-radius: 50%;
      }
    }
    h3{
      font-size: 20px;
      color: black;
      @include max-screen(514px){
        font-size: 12px;
      }
    }
    h4{
      color: black;
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 10px;
      @include max-screen(514px){
        font-size: 10px;
      }
    }
    p{
      font-size: 10px;
      color: black;
      margin-bottom: 24px;
      @include max-screen(514px){
        font-size: 8px;
      }
    }
    .price{
      background: rgba(79, 79, 79, 0.2);
      border-radius: 10px;
      padding: 12px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 52px;
      @include max-screen(1200px){
        position: relative;
        bottom: 16px;
      }
      @include max-screen(991px){
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
      }
      @include max-screen(320px){
        padding: 10px 20px!important;
      }

      p{
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-bottom: 0;
        display: inline-block;
        span{
          font-size: 15px;
          font-weight: normal;
        }
      }
      a{
        color: white;
        background-color: #0B9344;
        text-decoration: none;
        padding: 10px 43px;
        display: inline-block;
        border-radius: 10px;
      }
    }
    .price:hover{
      padding: 20px;
      transition: 0.3s;
    }
  }
}

.screen_two li:nth-child(n+3):nth-child(-n+5) {
  list-style: none;
  font-weight: normal;
}

footer{
  background: #222222;
  padding: 50px 0;
  .footer_content{
    margin-bottom: 30px;
  }
  p{
    color: white;
    font-size: 15px;
    line-height: 18px;
  }
  i{
    font-size: 30px;
    margin-right: 15px;
    color: #828282;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  i:nth-last-child(2){
    margin-bottom: 18px;
  }
  a{
    color: #0B9344!important;
    text-decoration: none!important;
    font-size: 10px;
  }
}

.merkrt_screen_one{
  background-image: url("../img/screen_one_market.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 134px 0 160px;
  @include max-screen(414px){
    height: 508px;
  }
  h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    @include max-screen(414px){
      font-size: 20px;
    }
  }
  p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    @include max-screen(414px){
      font-size: 15px;
    }
  }
}

.market_video{
  padding: 100px 0;
  .m_video{
    border-radius: 3%;
  }
}

.market_price{
  background-image: url("../img/back_m_price.jpg");
  padding: 50px 0 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .m_price{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 34px 20px 30px ;
    height: 177px;
    border-radius: 10px;
    @include max-screen(991px){
      margin-bottom: 30px;
    }
    .discount{
      background-color: #ED1C24;
      width: 50px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: white;
      font-size: 15px;
      position: absolute;
      top:0;
      right:15px;
      border-bottom-left-radius: 10px;
    }
    h3{
      font-size: 19px;
      color: white;
    }
    h4{
      font-size: 15px;
      color: white;
      margin-bottom: 20px;
    }
    a{
      background-color: #E6FDEF;
      padding: 10px 50px;
      border-radius: 10px;
      text-decoration: none;
    }
    p{
      Vertical-align: Top;
      line-height: 10px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      span{
        font-size: 12px;
        font-weight: normal;
      }

    }
    }
  }
.m_price:hover{
  width: 365px;
  height: 197px;
  transition: 1.5s;
  @include max-screen(1024px){
    width: 300px;
  }
  @include max-screen(992px){
    width: 700px;
  }
  @include max-screen(767px){
    width: 520px;
  }
  @include max-screen(414px){
    width: 390px;
  }
  @include max-screen(375px){
    width: 345px;
  }
  @include max-screen(375px){
    width: 339px;
  }

  @include max-screen(320px){
    width: 290px;
  }
}
