* {
  margin: 0;
  padding: 0; }

.bg-light {
  padding: 9px 0;
  background: #000000 !important; }

.logo {
  margin-right: 30px; }

.navbar-light .navbar-toggler-icon {
  margin-bottom: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  display: block;
  background-image: none; }

.nav-link {
  font-size: 15px;
  line-height: 18px;
  color: white !important; }

.nav-link:hover {
  color: #0B9344 !important;
  transition: 0.3s; }

.blog {
  color: orange !important; }

.contact_header img {
  margin-right: 30px;
  margin-left: 76px; }
  @media screen and (max-width: 1200px) {
    .contact_header img {
      margin-left: 30px; } }
  @media screen and (max-width: 991px) {
    .contact_header img {
      margin-left: 0;
      margin-right: 0;
      position: relative;
      left: 190px; } }

@media screen and (max-width: 991px) {
  .back_head {
    background-image: url("../img/Rectangle.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center; } }
.contact_header a:nth-last-child(1) {
  color: white;
  text-decoration: none;
  border: 1px solid #0B9344;
  padding: 4px 15px;
  border-radius: 10px; }
  @media screen and (max-width: 991px) {
    .contact_header a:nth-last-child(1) {
      position: relative;
      right: 13px; } }

.contact_header a:nth-last-child(1):hover {
  background-color: #0B9344;
  transition: 0.3s; }

.screen_one {
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 51px 0 71px; }
  @media screen and (max-width: 991px) {
    .screen_one {
      padding: 60px 0 30px; } }
  .screen_one h1 {
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center; }
    @media screen and (max-width: 514) {
      .screen_one h1 {
        margin-bottom: 30px; } }
  .screen_one .card_ {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
    height: 260px; }
    @media screen and (max-width: 992px) {
      .screen_one .card_ {
        height: 542px; } }
    @media screen and (max-width: 767px) {
      .screen_one .card_ {
        height: 535px; } }
    @media screen and (max-width: 514px) {
      .screen_one .card_ {
        height: 454px; } }
    @media screen and (max-width: 414px) {
      .screen_one .card_ {
        height: 420px; } }
    .screen_one .card_ .user_image img {
      position: relative;
      left: 2px;
      max-width: 200px;
      width: 100%;
      border-radius: 50%; }
    .screen_one .card_ h3 {
      font-size: 20px;
      color: white; }
      @media screen and (max-width: 514px) {
        .screen_one .card_ h3 {
          font-size: 12px; } }
    .screen_one .card_ h4 {
      color: white;
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 10px; }
      @media screen and (max-width: 514px) {
        .screen_one .card_ h4 {
          font-size: 10px; } }
    .screen_one .card_ p {
      font-size: 10px;
      color: white;
      margin-bottom: 24px; }
      @media screen and (max-width: 514px) {
        .screen_one .card_ p {
          font-size: 8px; } }
    .screen_one .card_ .price {
      background: rgba(196, 196, 196, 0.2);
      border-radius: 10px;
      padding: 12px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 76px; }
      @media screen and (max-width: 1200px) {
        .screen_one .card_ .price {
          position: relative;
          bottom: 34px; } }
      @media screen and (max-width: 991px) {
        .screen_one .card_ .price {
          position: absolute;
          width: 100%;
          bottom: 0;
          right: 0; } }
      @media screen and (max-width: 320px) {
        .screen_one .card_ .price {
          padding: 10px 20px !important; } }
      .screen_one .card_ .price p {
        font-size: 30px;
        color: white;
        font-weight: bold;
        margin-bottom: 0;
        display: inline-block; }
        .screen_one .card_ .price p span {
          font-size: 15px;
          font-weight: normal; }
      .screen_one .card_ .price a {
        color: white;
        background-color: #0B9344;
        padding: 10px 43px;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px; }
      .screen_one .card_ .price a:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        transition: 0.3s; }
    .screen_one .card_ .price:hover {
      padding: 20px;
      transition: 0.3s; }
  .screen_one li {
    margin-left: 50px;
    color: white;
    font-size: 15px;
    padding: 0 13px 0 28px; }
    @media screen and (max-width: 514px) {
      .screen_one li {
        font-size: 10px; } }
  .screen_one ul {
    padding: 0 13px 0 28px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .screen_one ul {
        position: absolute;
        bottom: 70px; } }
    @media screen and (max-width: 514px) {
      .screen_one ul {
        position: absolute;
        bottom: 88px; } }

.screen_one li:nth-child(n+3):nth-child(-n+6) {
  list-style: none; }

.screen_one li {
  padding: 0; }

.screen_two {
  background-image: url("../img/back_screen_two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 51px 0 71px; }
  @media screen and (max-width: 991px) {
    .screen_two {
      padding: 60px 0 30px; } }
  .screen_two h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px; }
    @media screen and (max-width: 514px) {
      .screen_two h2 {
        font-size: 17px;
        margin-bottom: 30px; } }
  .screen_two li {
    margin-left: 50px;
    color: black;
    font-size: 15px;
    padding: 0 13px 0 28px;
    font-weight: bold; }
    .screen_two li span {
      font-weight: normal; }
    @media screen and (max-width: 514px) {
      .screen_two li {
        font-size: 10px; } }
  .screen_two ul {
    padding: 0 13px 0 28px;
    position: relative; }
    @media screen and (max-width: 991px) {
      .screen_two ul {
        position: absolute;
        bottom: -490px;
        z-index: 2; } }
    @media screen and (max-width: 767px) {
      .screen_two ul {
        position: absolute;
        bottom: -526px; } }
    @media screen and (max-width: 514px) {
      .screen_two ul {
        position: absolute;
        bottom: -379px; } }
    @media screen and (max-width: 375px) {
      .screen_two ul {
        position: absolute;
        bottom: -392px; } }
    @media screen and (max-width: 320px) {
      .screen_two ul {
        position: absolute;
        bottom: -447px; } }
  .screen_two .card_scr_two {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 30px;
    height: 260px; }
    @media screen and (max-width: 992px) {
      .screen_two .card_scr_two {
        height: 562px; } }
    @media screen and (max-width: 767px) {
      .screen_two .card_scr_two {
        height: 600px; } }
    @media screen and (max-width: 514px) {
      .screen_two .card_scr_two {
        height: 454px; } }
    @media screen and (max-width: 414px) {
      .screen_two .card_scr_two {
        height: 452px; } }
    @media screen and (max-width: 375px) {
      .screen_two .card_scr_two {
        height: 465px; } }
    @media screen and (max-width: 320px) {
      .screen_two .card_scr_two {
        height: 516px; } }
    .screen_two .card_scr_two .user_image img {
      position: relative;
      left: 2px;
      max-width: 200px;
      width: 100%;
      border-radius: 50%; }
    .screen_two .card_scr_two h3 {
      font-size: 20px;
      color: black; }
      @media screen and (max-width: 514px) {
        .screen_two .card_scr_two h3 {
          font-size: 12px; } }
    .screen_two .card_scr_two h4 {
      color: black;
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 10px; }
      @media screen and (max-width: 514px) {
        .screen_two .card_scr_two h4 {
          font-size: 10px; } }
    .screen_two .card_scr_two p {
      font-size: 10px;
      color: black;
      margin-bottom: 24px; }
      @media screen and (max-width: 514px) {
        .screen_two .card_scr_two p {
          font-size: 8px; } }
    .screen_two .card_scr_two .price {
      background: rgba(79, 79, 79, 0.2);
      border-radius: 10px;
      padding: 12px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: 52px; }
      @media screen and (max-width: 1200px) {
        .screen_two .card_scr_two .price {
          position: relative;
          bottom: 16px; } }
      @media screen and (max-width: 991px) {
        .screen_two .card_scr_two .price {
          position: absolute;
          width: 100%;
          bottom: 0;
          right: 0; } }
      @media screen and (max-width: 320px) {
        .screen_two .card_scr_two .price {
          padding: 10px 20px !important; } }
      .screen_two .card_scr_two .price p {
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-bottom: 0;
        display: inline-block; }
        .screen_two .card_scr_two .price p span {
          font-size: 15px;
          font-weight: normal; }
      .screen_two .card_scr_two .price a {
        color: white;
        background-color: #0B9344;
        text-decoration: none;
        padding: 10px 43px;
        display: inline-block;
        border-radius: 10px; }
      .screen_two .card_scr_two .price a:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        transition: 0.3s; }
    .screen_two .card_scr_two .price:hover {
      padding: 20px;
      transition: 0.3s; }

.screen_two li:nth-child(n+3):nth-child(-n+5) {
  list-style: none;
  font-weight: normal; }

footer {
  background: #222222;
  padding: 50px 0; }
  footer .footer_content {
    margin-bottom: 30px; }
  footer p {
    color: white;
    font-size: 15px;
    line-height: 18px; }
  footer i {
    font-size: 30px;
    margin-right: 15px;
    color: #828282;
    margin-bottom: 30px;
    display: flex;
    align-items: center; }
  footer i:nth-last-child(2) {
    margin-bottom: 18px; }
  footer a {
    color: #0B9344 !important;
    text-decoration: none !important;
    font-size: 10px; }

.merkrt_screen_one {
  background-image: url("../img/screen_one_market.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 134px 0 160px; }
  @media screen and (max-width: 414px) {
    .merkrt_screen_one {
      height: 508px; } }
  .merkrt_screen_one h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white; }
    @media screen and (max-width: 414px) {
      .merkrt_screen_one h1 {
        font-size: 20px; } }
  .merkrt_screen_one p {
    color: white;
    font-size: 30px;
    font-weight: bold; }
    @media screen and (max-width: 414px) {
      .merkrt_screen_one p {
        font-size: 15px; } }

.market_video {
  padding: 100px 0; }
  .market_video .m_video {
    border-radius: 3%; }

.market_price {
  background-image: url("../img/back_m_price.jpg");
  padding: 50px 0 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 287px; }
  @media screen and (max-width: 991px) {
    .market_price {
      height: 100%; } }
  .market_price .m_price {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 34px 20px 30px;
    height: 177px;
    border-radius: 10px; }
    @media screen and (max-width: 991px) {
      .market_price .m_price {
        margin-bottom: 30px; } }
    .market_price .m_price .discount {
      background-color: #ED1C24;
      width: 50px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: white;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 15px;
      border-bottom-left-radius: 10px; }
    .market_price .m_price h3 {
      font-size: 19px;
      color: white; }
    .market_price .m_price h4 {
      font-size: 15px;
      color: white;
      margin-bottom: 20px; }
    .market_price .m_price a {
      background-color: #E6FDEF;
      padding: 10px 50px;
      border-radius: 10px;
      text-decoration: none; }
    .market_price .m_price a:hover {
      background-color: #0B9344;
      color: white;
      transition: 0.3s; }
    .market_price .m_price p {
      Vertical-align: Top;
      line-height: 10px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 30px; }
      .market_price .m_price p span {
        font-size: 12px;
        font-weight: normal; }

.m_price:hover {
  width: 365px;
  height: 197px;
  transition: 1.5s; }
  @media screen and (max-width: 1024px) {
    .m_price:hover {
      max-width: 300px;
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .m_price:hover {
      max-width: 700px;
      width: 100%; } }

.index_screen_one {
  background-image: url("../img/index_screen_one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 216px 0 241px; }
  .index_screen_one h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px; }
    @media screen and (max-width: 767px) {
      .index_screen_one h1 {
        font-size: 20px;
        line-height: 24px; } }
  .index_screen_one a {
    font-weight: bold;
    color: white;
    background-color: #0B9444;
    padding: 10px 42px;
    width: 190px;
    border-radius: 10px;
    margin: auto;
    text-decoration: none;
    text-align: center; }
  .index_screen_one a:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: 0.3s; }

.carusel_i .owl-nav {
  position: absolute;
  top: 274px;
  width: 100%; }
.carusel_i .owl-nav .owl-next {
  position: absolute;
  right: 30px; }
  @media screen and (max-width: 411px) {
    .carusel_i .owl-nav .owl-next {
      right: 10px; } }
.carusel_i .owl-nav .owl-prev {
  position: absolute;
  left: 30px; }
  @media screen and (max-width: 411px) {
    .carusel_i .owl-nav .owl-prev {
      left: 10px; } }
.carusel_i .owl-nav .owl-prev:before {
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: white;
  padding: 13px 18px;
  border-radius: 50%; }
.carusel_i .owl-nav .owl-next:before {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: white;
  padding: 13px 18px;
  border-radius: 50%; }
.carusel_i .owl-drag {
  text-align: center; }
.carusel_i .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 30px; }
.carusel_i .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin-right: 10px; }
.carusel_i .owl-dot.active span {
  background-color: white; }

.index_screen_two {
  padding: 100px 0 86px; }
  .index_screen_two h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 61px; }
    @media screen and (max-width: 767px) {
      .index_screen_two h2 {
        font-size: 15px; } }
  .index_screen_two img {
    width: 100%; }

.i_details {
  background-color: #FAFAFA;
  padding: 20px; }
  .i_details h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px; }
  .i_details h4 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px; }
  .i_details a {
    padding: 8px 27px;
    border-radius: 10px;
    color: #0B9344;
    border: solid 1px #0B9344;
    text-decoration: none; }
  .i_details a:hover {
    background-color: #0B9344;
    color: white;
    transition: 0.3s; }

.index_screen_three img {
  width: 50px;
  height: 50px; }
.index_screen_three h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .index_screen_three h2 {
      font-size: 15px; } }
.index_screen_three h3 {
  font-size: 20px;
  font-weight: bold; }
.index_screen_three p {
  font-size: 15px;
  color: black;
  max-width: 270px;
  margin-bottom: 55px; }

.index_video {
  padding: 55px 0 100px; }
  .index_video .i_video {
    background-image: url("../img/i_video.jpg");
    width: 100%;
    background-size: cover;
    background-position: center; }

.i_partners {
  padding-bottom: 97px; }
  .i_partners img {
    max-width: 150px;
    width: 100%;
    margin-bottom: 30px; }
  .i_partners h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 49px;
    color: black; }
  .i_partners .botton_partner {
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    border: solid 1px #D7D7D7;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    bottom: 20px; }
    @media screen and (max-width: 991px) {
      .i_partners .botton_partner {
        position: relative;
        bottom: 0; } }
  .i_partners .botton_partner:hover {
    background-color: #0B9344;
    color: white;
    transition: 0.3s; }

.i_investments {
  padding-bottom: 100px; }
  .i_investments h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px; }

.i_talk {
  background-color: #FAFAFA;
  padding: 20px 25px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px; }
  .i_talk h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px; }
  .i_talk p {
    font-size: 15px;
    color: black;
    margin-bottom: 15px; }
  .i_talk .data {
    margin-bottom: 33px; }

.i_talk:hover {
  box-shadow: 0px 0px 10px 0px #92929240;
  transition: 0.3s; }
  @media screen and (max-width: 992px) {
    .i_talk:hover {
      width: 350px; } }
  @media screen and (max-width: 767px) {
    .i_talk:hover {
      max-width: 700px;
      width: 100%; } }
  .i_talk:hover h3 {
    color: #0B9344; }

.i_instagram {
  background-color: black;
  padding: 135px 0; }

.about_screen_one {
  background-image: url("../img/about_screen_one.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 171px 0; }
  @media screen and (max-width: 540px) {
    .about_screen_one {
      padding: 20px 0 33px; } }
  .about_screen_one h1 {
    color: white;
    font-size: 30px; }
    @media screen and (max-width: 540px) {
      .about_screen_one h1 {
        font-size: 12px; } }

.about_screen_two {
  padding: 100px 0 64px; }
  .about_screen_two .a_value {
    margin-bottom: 36px; }
  .about_screen_two h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px; }
  .about_screen_two img {
    width: 50px;
    height: 50px; }
  .about_screen_two p {
    font-size: 15px;
    font-weight: bold; }

.about_screen_three {
  background-image: url("../img/about_screen_three.jpg");
  height: 673px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 57px; }
  @media screen and (max-width: 991px) {
    .about_screen_three {
      height: 100%; } }
  .about_screen_three h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px; }
  .about_screen_three .a_comand {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    max-height: 210px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 40px; }
    @media screen and (max-width: 414px) {
      .about_screen_three .a_comand {
        padding: 15px;
        max-height: 150px;
        height: 100%; } }
    .about_screen_three .a_comand .user_image a {
      display: none;
      background-image: url("../img/Vector_tel.png");
      padding: 8px 10px 26px;
      position: absolute;
      right: -50px;
      top: -60px;
      width: 107px;
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 15px;
      text-decoration: none;
      color: black; }
      @media screen and (max-width: 1200px) {
        .about_screen_three .a_comand .user_image a {
          position: absolute;
          right: -35px;
          top: -70px; } }
      @media screen and (max-width: 992px) {
        .about_screen_three .a_comand .user_image a {
          position: absolute;
          right: 80px; } }
      @media screen and (max-width: 767px) {
        .about_screen_three .a_comand .user_image a {
          position: absolute;
          right: -45px;
          top: -53px;
          font-size: 10px;
          width: 87px; } }
      @media screen and (max-width: 320px) {
        .about_screen_three .a_comand .user_image a {
          position: absolute;
          right: -10px; } }
    .about_screen_three .a_comand .user_image:hover a {
      display: block; }
    .about_screen_three .a_comand img {
      border-radius: 50%;
      max-width: 150px;
      width: 100%; }
    .about_screen_three .a_comand img:hover {
      max-width: 155px; }
    .about_screen_three .a_comand h3 {
      color: white;
      font-size: 25px;
      font-weight: bold; }
      @media screen and (max-width: 767px) {
        .about_screen_three .a_comand h3 {
          font-size: 12px; } }
    .about_screen_three .a_comand h4 {
      font-size: 15px;
      margin-bottom: 15px;
      color: white; }
      @media screen and (max-width: 767px) {
        .about_screen_three .a_comand h4 {
          font-size: 10px; } }
    .about_screen_three .a_comand p {
      color: white;
      font-size: 15px;
      font-weight: bold; }
      @media screen and (max-width: 767px) {
        .about_screen_three .a_comand p {
          font-size: 10px; } }
  .about_screen_three .a_comand:hover {
    max-width: 550px;
    width: 100%;
    max-height: 220px;
    height: 100%;
    transition: 0.3s; }
    @media screen and (max-width: 992px) {
      .about_screen_three .a_comand:hover {
        max-width: 900px;
        width: 100%; } }
    @media screen and (max-width: 414px) {
      .about_screen_three .a_comand:hover {
        max-height: 200px;
        width: 100%; } }
    @media screen and (max-width: 375px) {
      .about_screen_three .a_comand:hover {
        max-height: 170px;
        width: 100%; } }
  .about_screen_three .imag_user a {
    display: none;
    background-image: url("../img/Vector_tel.png");
    padding: 8px 10px 26px;
    position: absolute;
    right: -35px;
    top: -60px;
    width: 107px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 15px;
    text-decoration: none;
    color: black; }
    @media screen and (max-width: 992px) {
      .about_screen_three .imag_user a {
        position: absolute;
        top: -70px;
        right: 0; } }
    @media screen and (max-width: 414px) {
      .about_screen_three .imag_user a {
        width: 87px;
        font-size: 10px; } }
  .about_screen_three .imag_user img {
    max-width: 125px;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto; }
  .about_screen_three .imag_user img:hover {
    max-width: 130px;
    width: 100%;
    transition: 0.3s; }
  .about_screen_three .imag_user:hover a {
    display: block;
    transition: 1s; }

.tel_comand {
  max-width: 1140px;
  margin: auto;
  padding-top: 60px; }
  .tel_comand h4 {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold; }
  .tel_comand p {
    color: white;
    font-size: 15px;
    text-align: center; }
  @media screen and (max-width: 992px) {
    .tel_comand {
      padding-top: 70px; } }

.carusel_about .owl-nav {
  position: absolute;
  top: 274px;
  width: 100%; }
.carusel_about .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  bottom: 0; }
.carusel_about .owl-nav .owl-prev:before {
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: white;
  padding: 13px 18px;
  border-radius: 50%; }
.carusel_about .owl-nav .owl-next {
  position: absolute;
  right: 0;
  bottom: 0; }
.carusel_about .owl-nav .owl-next:before {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: white;
  padding: 13px 18px;
  border-radius: 50%; }
.carusel_about .owl-drag {
  text-align: center; }

.about_comand {
  padding: 50px 0;
  background-color: #E5E5E5; }
  .about_comand .a_comand {
    background-color: white;
    padding: 26px 25px 24px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 991px) {
      .about_comand .a_comand {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    .about_comand .a_comand p {
      font-size: 18px;
      font-weight: bold; }
      @media screen and (max-width: 991px) {
        .about_comand .a_comand p {
          margin-bottom: 20px;
          text-align: center; } }
    .about_comand .a_comand a {
      background-color: #E6FDEF;
      padding: 13px 15px 13px 22px;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      width: 182px; }
    .about_comand .a_comand a:hover {
      background-color: #0B9344;
      color: white;
      transition: 0.3s; }

.k_screen_one {
  background-image: url("../img/k-back-screen_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 100px 0; }
  .k_screen_one h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
    font-weight: bold; }

.k_screen_two {
  padding: 100px 0; }
  .k_screen_two .webiner {
    padding: 10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .k_screen_two .webiner p {
      font-size: 20px;
      font-weight: bold;
      color: white;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      margin-bottom: 0;
      text-align: center; }
  .k_screen_two .blue {
    background-color: #2B93F3; }
  .k_screen_two .orange {
    background-color: #F7931B; }
  .k_screen_two .red {
    background-color: #ED1B24; }
  .k_screen_two .green {
    background-color: #0B9344; }
  .k_screen_two .k_flex_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    .k_screen_two .k_flex_container .k_content {
      width: 100%;
      background-color: #F8F8F8;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 25px; }
      @media screen and (max-width: 540px) {
        .k_screen_two .k_flex_container .k_content {
          display: block; } }
      .k_screen_two .k_flex_container .k_content .finance {
        display: flex;
        margin-bottom: 20px; }
        .k_screen_two .k_flex_container .k_content .finance img {
          max-width: 50px;
          width: 100%;
          max-height: 50px;
          height: 100%;
          margin-right: 25px; }
        .k_screen_two .k_flex_container .k_content .finance h4 {
          color: black;
          font-size: 20px; }
        .k_screen_two .k_flex_container .k_content .finance p {
          font-size: 15px;
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 0; }
    .k_screen_two .k_flex_container .bottom {
      display: flex;
      justify-content: center; }
      .k_screen_two .k_flex_container .bottom a {
        padding: 13px 33px;
        color: #0B9344;
        font-size: 20px;
        font-weight: bold;
        border: solid 1px #0B9344;
        border-radius: 10px;
        text-decoration: none; }
      .k_screen_two .k_flex_container .bottom a:hover {
        background-color: #0B9344;
        color: white;
        transition: 0.3s; }

.k_telegram {
  padding-bottom: 80px; }
  .k_telegram .k_teleg {
    background-image: url("../img/max_group.jpg");
    border-radius: 10px;
    padding: 30px;
    background-size: cover;
    margin-bottom: 20px; }
    .k_telegram .k_teleg h3 {
      font-size: 25px;
      color: white;
      font-weight: bold;
      margin-bottom: 64px; }
  .k_telegram .k_teleg_t {
    background-image: url("../img/k_teleg_t.png");
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover; }
  .k_telegram h3 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 64px; }
  .k_telegram a {
    background-color: #F3F3F3;
    padding: 21px 25px;
    border-radius: 100px;
    text-decoration: none; }
    .k_telegram a img {
      width: 55px;
      margin-right: 14px; }
  .k_telegram a:hover {
    padding: 26px 30px;
    transition: 0.3s; }

.trainer_screen_one {
  background-image: url("../img/trainer_screen_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 68px 0 74px; }
  .trainer_screen_one h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 37px; }
    @media screen and (max-width: 767px) {
      .trainer_screen_one h1 {
        font-size: 30px; } }
    @media screen and (max-width: 320px) {
      .trainer_screen_one h1 {
        font-size: 20px; } }
  @media screen and (max-width: 767px) {
    .trainer_screen_one .adaptive {
      width: 100%;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.1); } }
  @media screen and (max-width: 414px) {
    .trainer_screen_one .adaptive {
      padding: 10px 5px; } }
  .trainer_screen_one .img_t {
    display: flex;
    justify-content: center; }
  .trainer_screen_one img {
    max-width: 160px;
    width: 100%;
    display: block;
    margin-bottom: 46px; }
  .trainer_screen_one button {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #ED1B24;
    border-radius: 10px;
    max-width: 160px;
    width: 100%;
    padding: 10px 0;
    border: none; }
    @media screen and (max-width: 767px) {
      .trainer_screen_one button {
        font-size: 15px; } }
    @media screen and (max-width: 414px) {
      .trainer_screen_one button {
        font-size: 10px; } }
    @media screen and (max-width: 320px) {
      .trainer_screen_one button {
        font-size: 8px; } }

.trainer_screen_two {
  padding: 100px 0; }
  .trainer_screen_two h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px; }
  .trainer_screen_two img {
    width: 100%; }
  .trainer_screen_two .t_details {
    background-color: white;
    height: 191px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px 0px #92929240;
    margin-bottom: 50px; }
    .trainer_screen_two .t_details h3 {
      font-size: 15px;
      font-weight: bold;
      color: black;
      margin-bottom: 10px; }
    .trainer_screen_two .t_details p {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 15px; }
  .trainer_screen_two p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5); }

.trainer_screen_three {
  background-image: url("../img/trainer_video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0 67px; }
  @media screen and (max-width: 767px) {
    .trainer_screen_three .adaptive_video {
      margin-bottom: 30px; }
      .trainer_screen_three .adaptive_video .t_video {
        position: static; } }
  .trainer_screen_three .t_video {
    max-height: 381px;
    height: 100%; }
  .trainer_screen_three h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .trainer_screen_three h2 {
        display: none; } }
  .trainer_screen_three img {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%; }
  .trainer_screen_three h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px; }
  .trainer_screen_three p {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    max-width: 285px; }

.trainer_screen_four {
  padding: 100px 0 70px; }
  .trainer_screen_four img {
    width: 50px;
    height: 50px; }
  .trainer_screen_four h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .trainer_screen_four h2 {
        font-size: 15px; } }
  .trainer_screen_four h3 {
    font-size: 20px;
    font-weight: bold; }
  .trainer_screen_four p {
    font-size: 15px;
    color: black;
    max-width: 270px;
    margin-bottom: 30px; }

.trainer_screen_five {
  background-image: url("../img/trainer_screen_five_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 521px; }
  @media screen and (max-width: 991px) {
    .trainer_screen_five {
      height: 100%; } }
  @media screen and (max-width: 575px) {
    .trainer_screen_five {
      padding: 50px 30px 33px; } }
  .trainer_screen_five h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px; }
  .trainer_screen_five .review_t {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px; }
    .trainer_screen_five .review_t h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px; }
    .trainer_screen_five .review_t p {
      font-size: 15px; }
      .trainer_screen_five .review_t p span {
        font-weight: bold; }
  .trainer_screen_five .phone {
    margin: auto; }
    .trainer_screen_five .phone img {
      margin: auto;
      width: 147px;
      border-radius: 10px; }
      @media screen and (max-width: 571px) {
        .trainer_screen_five .phone img {
          width: 100%; } }
    .trainer_screen_five .phone img:hover {
      width: 200px;
      transition: 1s;
      position: relative;
      bottom: 100px; }
      @media screen and (max-width: 991px) {
        .trainer_screen_five .phone img:hover {
          bottom: 0; } }
      @media screen and (max-width: 575px) {
        .trainer_screen_five .phone img:hover {
          width: 100%; } }
  .trainer_screen_five .owl-nav {
    position: absolute;
    top: 274px;
    width: 100%; }
  .trainer_screen_five .owl-nav .owl-next {
    position: absolute;
    right: -80px;
    top: -100px; }
    @media screen and (max-width: 1120px) {
      .trainer_screen_five .owl-nav .owl-next {
        right: -40px; } }
    @media screen and (max-width: 767px) {
      .trainer_screen_five .owl-nav .owl-next {
        right: -50px; } }
    @media screen and (max-width: 575px) {
      .trainer_screen_five .owl-nav .owl-next {
        right: -44px; } }
  .trainer_screen_five .owl-nav .owl-prev {
    position: absolute;
    left: -80px;
    top: -100px; }
    @media screen and (max-width: 1120px) {
      .trainer_screen_five .owl-nav .owl-prev {
        left: -45px; } }
    @media screen and (max-width: 767px) {
      .trainer_screen_five .owl-nav .owl-prev {
        left: -50px; } }
    @media screen and (max-width: 575px) {
      .trainer_screen_five .owl-nav .owl-prev {
        left: -24px; } }
  .trainer_screen_five .owl-nav .owl-prev:before {
    content: "\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    color: white;
    border-radius: 50%; }
  .trainer_screen_five .owl-nav .owl-next:before {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    color: white;
    padding: 13px 18px;
    border-radius: 50%; }

.trainer_screen_six {
  padding: 100px 0 70px; }
  .trainer_screen_six img {
    width: 50px;
    height: 50px; }
  .trainer_screen_six .t_prie_green {
    background-color: #0B9344;
    padding: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .trainer_screen_six .t_prie_green h3 {
      font-size: 30px;
      color: white;
      margin-bottom: 20px; }
    .trainer_screen_six .t_prie_green p {
      color: white;
      font-size: 20px; }
  .trainer_screen_six .t_prie_red {
    background-color: #ED1B24;
    padding: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .trainer_screen_six .t_prie_red h3 {
      font-size: 30px;
      color: white;
      margin-bottom: 20px; }
    .trainer_screen_six .t_prie_red p {
      color: white;
      font-size: 20px; }
  .trainer_screen_six .t_prie_orange {
    background-color: #F7931B;
    padding: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .trainer_screen_six .t_prie_orange h3 {
      font-size: 30px;
      color: white;
      margin-bottom: 20px; }
    .trainer_screen_six .t_prie_orange p {
      color: white;
      font-size: 20px; }
  .trainer_screen_six .t_prie {
    box-shadow: 0px 0px 10px 0px #92929240;
    padding: 25px;
    min-height: 663px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .trainer_screen_six .t_prie .hov_trainer {
      display: none; }
  .trainer_screen_six .t_prie:hover {
    transition: 0.3s; }
    .trainer_screen_six .t_prie:hover .hov {
      margin: 0;
      transition: 0.3s; }
    .trainer_screen_six .t_prie:hover .hov_trainer {
      display: block;
      transition: 0.3s; }
  .trainer_screen_six .price_content p {
    font-size: 15px;
    line-height: 24px; }
    .trainer_screen_six .price_content p span {
      color: red; }
  .trainer_screen_six .buy p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px; }
  .trainer_screen_six .buy a {
    background-color: #E6FDEF;
    padding: 10px 47px;
    border-radius: 10px;
    color: #0B9344;
    text-decoration: none; }
  .trainer_screen_six .buy a:hover {
    background-color: #0B9344;
    color: white;
    transition: 0.3s; }

.trainer_screen_seven {
  background-color: #343434;
  padding: 50px 0 50px;
  text-align: center; }
  .trainer_screen_seven img {
    margin-bottom: 20px; }
  .trainer_screen_seven h3 {
    font-size: 20px;
    color: white;
    font-weight: bold; }
  .trainer_screen_seven p {
    font-size: 15px;
    color: white; }

.trainer_map {
  padding: 100px 0; }
  .trainer_map h2 {
    font-size: 25px;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
